@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap');


*{
  font-family: 'Titillium Web', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#272829 ;
}
.welcomeMessage{
  width: 80vw;
  height: 90vh;
  border: 1px solid black;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: black;
  color: white;
  user-select: none;
  display: none;
}
.welcomeMessage>h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
main{
  width: 70vw;
  height: 70vh;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
}
.loginContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  user-select: none;
  position: absolute;
  box-sizing: border-box;
}
.lLoginContainer{
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:ghostwhite;
}
.logInForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.logInForm>input{
  width: 20vw;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid gray;
}
.logInForm>button{
  width: 10vw;
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
  color: white;
  border: none;
  font-weight: bold;
  background: #e10e0e;
  box-shadow: -1px -1px 0px 1px rgba(0,0,0,0.17) inset;
-webkit-box-shadow: -1px -1px 0px 1px rgba(0,0,0,0.17) inset;
}
.logInForm>button:hover{
  opacity: 0.5;
}
.rLoginContainer{
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  background: linear-gradient(to left bottom,
                                     #d80909,
                                     #dd0c0b,
                                     #e10e0e,
                                     #e61010,
                                     #eb1212);
}
.rLoginContainer>img{
  width: 15vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.rLoginContainer>button{
  width: 10vw;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  background: #dd0c0b;

}
.rLoginContainer>button:hover{
  opacity: 0.5;
}

/* Hidden sign up container */
.signUpContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  user-select: none;
  position: absolute;
  box-sizing: border-box;
}
.lSignUpContainer{
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  background: linear-gradient(to left bottom,
  #d80909,
  #dd0c0b,
  #e10e0e,
  #e61010,
  #eb1212);
}
.lSignUpContainer>img{
  width: 15vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.lSignUpContainer>button{
  width: 10vw;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  background:  #e10e0e;
  color: white;
  border: 1px solid white;
  
}
.lSignUpContainer>button:hover{
  opacity: 0.5;
}
.rSignUpContainer{
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:ghostwhite;
}
.signUpForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.signUpForm>input{
  width: 20vw;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid gray;
}
.signUpForm>button{
  margin-top: 10px;
  width: 10vw;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  color: white;
  background: #e10e0e;
  box-shadow: -1px -1px 0px 1px rgba(0,0,0,0.17) inset;
-webkit-box-shadow: -1px -1px 0px 1px rgba(0,0,0,0.17) inset;
}
.signUpForm>button:hover{
  opacity: 0.5;
}
#emailExist{
  font-size: 12px;
  color: red;
}
#confirmPass{
  font-size: 12px;
  color: orange;
}
label{
  width: 20vw;
  font-size: 12px;
  color: red;
  text-align: left;
  padding: 0;
  margin: 0;
}
.hide{
  display: none;
}
.show{
  display: block;
}