@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap');


*{
  font-family: 'Titillium Web', sans-serif;
}

main{
  width: 50vw;
  height: 60vh;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.logInForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
.signUpForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}